GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account-key.json
MAGLEV_CLIENT_EMAIL=my-service-account@my-project.iam.gserviceaccount.com
MAGLEV_INSTANCE_NAME=maglev-vm
MAGLEV_MACHINE_TYPE=e2-micro
MAGLEV_PRIVATE_KEY=.keys/private_key.pem
MAGLEV_PROJECT_ID=my-project
MAGLEV_ZONE=us-central1-a