GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account-key.json
MAGLEV_BOOT_DISK_IMAGE=ubuntu-2404-lts-amd64
MAGLEV_BOOT_DISK_SIZE_GB=50
MAGLEV_CLIENT_EMAIL=my-service-account@my-project.iam.gserviceaccount.com
MAGLEV_INSTANCE_NAME=maglev-vm
MAGLEV_MACHINE_TYPE=e2-micro
MAGLEV_PRIVATE_KEY=.keys/private_key.pem
MAGLEV_PROJECT_ID=my-project
MAGLEV_SSH_PUBLIC_KEY_PATH=~/.ssh/id_ed25519.pub
MAGLEV_STARTUP_SCRIPT_PATH=./startup.sh
MAGLEV_ZONE=us-central1-a